#start{
    width: 5rem;
    height: 4rem;
}
#pause{
    width: 5rem;
    height: 4rem;
}
#stop{
    width: 5rem;
    height: 4rem;
}

.b .display{

    
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.a{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b{
    border: 1px solid black;
    width: 500px;
    margin-left: 450px;
}